body{
    background: #FDF5E6;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    padding: 10px;
    margin: 15px;
    background: #92fc92;
    border-radius: 25px;
}

.assignment img {
    width: 200px;
    margin: 10px;
    border: 3px solid #000000;
}

.assignment img:hover {
    border: 3px solid #FFF;
}

h1{
    color: #1a6139;
    text-align: center;
}

a {
   text-decoration: none;
   color: #1a6139;
}

a:hover {
    color:white;
}